.main{
    overflow: hidden;
}

.ciano{
    color: var(--ciano);
}
.laranja{
    color: var(--laranja);
}
.cinza{
    color: var(--cinza);

}
#principalTopo{ 
    /* /* background-color: #FF791A;  */
    background-image: url(../../utils/assets/fundoTopo.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%;  */
    width: 96vw;
    height: 75vh;
    margin: auto;
    margin-top: 2.9vh;
    border-radius: 15px;
    padding: 0;
    display: flex;
    box-shadow: 2px 5px 10px 0px #8b8b8b;
    
}
#principalTopo #esquerdaTopo{
    width: 48%;
    /* margin-left: 2%; */
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-around;
    /* background-color: #52d2d6; */
    height: 80%;
    margin: auto;

}
#principalTopo #esquerdaTopo h1{
    font-size: 3.4rem;
    line-height: 3.7rem;
    color: var(--primaryTextColor);

}
#principalTopo #esquerdaTopo p{
    color: var(--primaryTextColor);
    font-size: 1.2rem;
    width: 80%;
}
#principalTopo #esquerdaTopo div{
    width: 40%;
    height: 20%;
    /* background-color: bisque; */
}
#principalTopo #esquerdaTopo div button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px;
    background-color: #1F1F1F;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    box-shadow: #606D80 4px 4px 0px;
}

#principalTopo #direitaTopo{
    width: 46%;
    height: 100%;
    /* margin-right: 2%; */
    /* background-color: green; */
}
#principalTopo #direitaTopo div{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}
#principalTopo #direitaTopo div img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px #33333389);
}
#comoFunciona{
    /* background-color: #beb1a8; */
    width: 90vw;
    /* min-height: 60vw; */
    height: auto;
    margin: auto;
    margin-top: 12vh;
}
#comoFunciona .divTitulo{
    margin: auto;
    width: 55vw;
    text-align: center;
    /* background-color: #00BABF; */
    margin-bottom: 8vh;
}

#comoFunciona .divTitulo .tituloCentro{
    font-size: 2.6rem;
    color: var(--primaryTextColor);
    margin: 10vh 0;
}
#comoFunciona #componentesComoFunc{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(128, 158, 128); */
    width: 100%;
    margin-top: 5vh;
}

#areaCardServicos .divTitulo{
    /* margin: auto; */
    width: auto;
    /* background-color: #00BABF; */
    margin-bottom: 8vh;
    /* background-color: blue; */
}
#areaCardServicos .divTitulo .tituloServicos{
    text-align: initial;
    font-size: 2.6rem;
    color: var(--primaryTextColor);
}

#cardServicos{
    /* background-color: #beb1a8; */
    width: 90vw;
    /* min-height: 60vw; */
    height: auto;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15vh;
}

#cardServicos .cardServico{
    width: 24vw;
    height: 70vh;
    /* background-color: #1F1F1F; */
    border: 1px solid #b5b5b5;
    border-radius: 0.8rem;
    padding: 0 1vw;

}
#cardServicos .cardServico .cardServicoImg{
    width: 100%;
    height: 60%;
    /* background-color: #00BABF; */
    border-radius: 0.8rem 0.8rem 0 0;
}
#cardServicos .cardServico .cardServicoTitulo, #cardServicos .cardServico .cardServicoOrcamento{
    color: var(--primaryTextColor);
}
#cardServicos .cardServico .cardServicoDescricao, #cardServicos .cardServico .cardServicoAvaliacao{
    margin: 0.6rem 0;
}
#sobreNos{
    /* background-color: #beb1a8; */
    width: 90vw;
    /* min-height: 60vw; */
    height: auto;
    margin: auto;
    margin-top: 5vh;
   
    margin-bottom: 15vh;
}
#sobreNos .divTitulo, #sobreNos .divTitulo .tituloCentro{
    margin-bottom: 3vh;
}
#sobreNosCorpo{
    display: flex;
    justify-content: space-between;
}
#sobreNosCorpo #sobreNosEsquerda{
    width: 45%;
    height: 80vh;
    /* background-color: #606D80; */
}
#sobreNosCorpo #sobreNosEsquerda h2{
    margin-bottom: 5vh;
}
#sobreNosCorpo #sobreNosEsquerda p{
    line-height: 2.2rem;
}
#sobreNosCorpo #sobreNosEsquerda div{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}
#sobreNosCorpo #sobreNosEsquerda div h3{
    font-size: 2.5rem;
    line-height: 2.5rem;
}
#sobreNosCorpo #sobreNosEsquerda div h3 p{
    font-weight: 500;
    font-size: 1rem;
}
#sobreNosCorpo #sobreNosDireita{
    width: 45%;
    height: 80vh;
    /* background-color: lightblue; */
    display: flex;
    justify-content: flex-end ;
    margin-top: 2vh;
}
#sobreNosCorpo #sobreNosDireita img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 6px #61616189);
    object-fit: cover;
    border-radius: 1rem;
}
#proposito{
    width: 90vw;
    height: auto;
    margin: 15vh auto;
}
#proposito .divTitulo{
    height: fit-content;
    line-height: 1rem;
    margin: 20vh auto;
}
#proposito #propositoCards{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}